<div *ngIf="hero">

    <h2>{{hero.lastName | uppercase}} Détails</h2>
    <div>
        <p>Sexe de l'employé: {{sexTypeUi[hero.sex].label}} </p>

        <p>Nom de l'employé: {{hero.lastName}}</p>

        <p>Prénom de l'employé: {{hero.firstName}}</p>

        <p>Fonction de l'employé: {{jobTypeUi[hero.job].label}}</p>

        <label for="new-hero-job">Nouvelle Fonction: </label>
        <select #job id="new-hero-job">
            <option value="">--Choississez une option--</option>
            <option value="{{jobType.DG}}">{{jobTypeUi[jobType.DG].label}}</option>
            <option value="{{jobType.COMPTABLE}}">{{jobTypeUi[jobType.COMPTABLE].label}}</option>
            <option value="{{jobType.COACH}}">{{jobTypeUi[jobType.COACH].label}}</option>
            <option value="{{jobType.COMMUNICATION}}">{{jobTypeUi[jobType.COMMUNICATION].label}}</option>
            <option value="{{jobType.ASSISTANTDEDIRECTION}}">{{jobTypeUi[jobType.ASSISTANTDEDIRECTION].label}}</option>
            <option value="{{jobType.HOTESSE}}">{{jobTypeUi[jobType.HOTESSE].label}}</option>
            <option value="{{jobType.MENAGE}}">{{jobTypeUi[jobType.MENAGE].label}}</option>
            <option value="{{jobType.GARDIEN}}">{{jobTypeUi[jobType.GARDIEN].label}}</option>
        </select>

    </div>
    <button type="button" (click)="goBack()">Retour</button>
    <button type="button" (click)="save(job.value);job.value=''">Sauvegarder</button>

</div>