<nav>
    <h1 style="display: inline;" routerLink="/home">{{title}}</h1> <!-- Angular's interpolation binding syntax -->
   
    <a class=" class" routerLink="/dashboard">Tableau de
        bord</a>
    <a class=" class" routerLink="/employees">Liste des employés</a>
    <a class=" class" routerLink="/new-employee">Ajouter un
        employé</a>
    <div id="search-component" style="display: inline;flex: 2;align-self: flex-end;">

        <input #searchBox id="search-box" (input)="search(searchBox.value)" 
        placeholder="Rechercher un employé par son nom ou prénom..." />

        <ul class="search-result">
            <li *ngFor="let hero of heroes$ | async">
                <a routerLink="/detail/{{hero.id}}">
                    {{hero.fullName}}
                </a>
            </li>
        </ul>

    </div>
</nav>
<router-outlet></router-outlet>
<!--<app-messages></app-messages>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>-->