<h2>Ajout d'un employé</h2>
<div>
    <label for="new-hero-sex">Sex: </label>
    <input id="new-hero-sex" #sex />
    <label for="new-hero-lastName">Nom: </label>
    <input id="new-hero-lastName" #lastName />
    <label for="new-hero-firstName">Prénom: </label>
    <input id="new-hero-firstName" #firstName />
    <label for="new-hero-job">Fonction: </label>
    <input id="new-hero-job" #job />
    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="add-button" (click)="add(sex.value,firstName.value,lastName.value,job.value); sex.value=''; lastName.value=''; firstName.value=''; job.value='' ">
        Ajouter
    </button>
</div>
