<h1>Femmes AU Sport : Première salle de sport destinée uniquement aux femmes</h1>

<p>
    Le sport, ce trésor aux multiples 
    bienfaits, manque surtout dans la vie de beaucoup de femmes musulmanes au Niger. 
    Cela due à leur manque de connaissance sur l’importance du sport ainsi que l’absence de lieu 
    où elles pourraient le pratiquer. Le Niger est un pays majoritairement musulman, 
    les femmes ne peuvent donc pas se mettre en tenu de sport et faire librement 
    leur sport en milieu public ou en salle de sport mixte car il y aura le regard des 
    hommes sur elles, et cela reste mal vu par la société et non permis dans la religion. 
    Elles sont donc contrariées car cela touche leur pudeur.
</p>

<p> Femmes au sport est une salle de 
    sport qui permettra non seulement à ces femmes de profiter de la pratique du sport mais 
    aussi leur enseigner les bonnes habitudes alimentaires.
</p>

<p>
    Le Niger a une population majoritairement 
    jeune, cette jeune population représente une source de richesse pour ce pays. 
    Cette salle sera aussi un moyen pour nous de leur transmettre, aux générations futures, 
    les bonnes habitudes alimentaires et la pratique du sport.
</p>
